$primary-color: #e4c590;
$yellow-light: #e4c5905e;
$white-color: #fff;
$white-opacity-color: hsla(0, 0%, 100%, 0.1);
$black-opacity-color: #171819;
$black-color: #0e0d0c;
$gray-color: #a7a7a7;
$black2-color: #00000087;

$primary-font: "DM Sans", sans-serif;
$secondary-font: "Forum", cursive;

$fs-12: 0.5em;
$fs-14: 0.8em;
$fs-16: 1em;
$fs-18: 1.2em;
$fs-25: 1.6em;
$fs-30: 2em;
$fs-36: 2.6em;
$fs-40: 3em;
$fs-50: 4em;

$fw-nm: 400;
$fw-me: 500;
$fw-bl: 700;
