.s-selection {
    background-color: $black-opacity-color;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        width: 45%;
        height: 100%;
        @include posAbsolute("tl", 0, 0);
        background-image: url(../../img/selection.png);
        animation: image 3s infinite alternate linear;
    }
    &::before {
        content: "";
        width: 40%;
        height: 50%;
        @include posAbsolute("br", 0, 0);
        background-image: url(../../img/selection2.png);
        animation: image 3s infinite alternate linear;
    }
    .s_top {
        padding-top: 6em;
        position: relative;
        z-index: 9999;
        @media (max-width: 767px) {
            padding-top: 2em;
        }
    }
    .s_bot {
        position: relative;
        z-index: 99999;
        padding-top: 2em;
        .s_menu {
            ul {
                display: flex;
                color: #fff;
                margin: 0 auto;
                @include flexBox("", "center");
                border-top: 1px solid #eeeeee52;
                border-bottom: 1px solid #eeeeee52;
                padding: 17px 0;
                position: relative;
                @media (max-width: 575px) {
                    display: block;
                    text-align: center;
                }
                li {
                    font-family: $secondary-font;
                    margin: 0 3em;
                    cursor: pointer;
                    position: relative;
                    &.active span::after {
                        width: 100%;
                    }
                    @media (max-width: 414px) {
                        margin: 1em 2em;
                    }
                    span {
                        display: inline-block;
                        &::after {
                            display: block;
                            content: "";
                            width: 0%;
                            height: 7px;
                            margin: 0 auto;
                            border-top: 2px solid $primary-color;
                            border-bottom: 2px solid $primary-color;
                            transition: 0.5s;
                        }
                    }
                    @media (max-width: 575px) {
                        // display: inline-block;
                    }
                    @media (max-width: 628px) {
                        margin: 0 2em;
                    }

                    &:first-child::before {
                        @include posAbsolute("br", 15px, -50px);
                        @include rotatedRectangle();
                        @media (max-width: 628px) {
                            right: -39px;
                        }
                        @media (max-width: 575px) {
                            display: none;
                        }
                    }
                    &:nth-child(2)::before {
                        @include posAbsolute("br", 15px, -50px);
                        @include rotatedRectangle();
                        @media (max-width: 628px) {
                            right: -39px;
                        }
                        @media (max-width: 575px) {
                            display: none;
                        }
                    }
                    &:nth-child(3)::before {
                        @include posAbsolute("br", 15px, -50px);
                        @include rotatedRectangle();
                        @media (max-width: 628px) {
                            right: -39px;
                        }
                        @media (max-width: 575px) {
                            display: none;
                        }
                    }
                }
            }
        }
        .s-listFood {
            padding-top: 5em;
            @media (max-width: 767px) {
                padding-top: 1em;
            }
            .s_tab {
                &:not(:first-child) {
                    display: none;
                }
            }
            .b_detailFood {
                align-items: flex-start;
                border-right: 1px solid #eeeeee52;
                padding: 2em;
                display: flex;
                gap: 20px;
                @media (max-width: 991px) {
                    border-right: none;
                }
                .b-leftFood {
                    width: 20%;
                    overflow: hidden;
                    position: relative;
                    &::before {
                        @include hoverImages();
                        background-color: #e4c5907a;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s;
                        z-index: 9;
                        border-radius: 20px;
                    }
                    &:hover {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                        img {
                            transform: scale(1.05);
                            border-radius: 20px;
                        }
                    }

                    img {
                        transition: 0.5s;
                    }
                }
                .b-rightFood {
                    width: 80%;
                    color: $white-color;
                    .b_namefood {
                        display: flex;
                        @include flexBox("center", "between");
                        h2 {
                            width: 60%;
                            font-size: 1.8em;
                            font-weight: $fw-nm;
                            font-family: $secondary-font;
                            @media (max-width: 575px) {
                                font-size: 1.2em;
                            }
                        }
                        .b_parallel {
                            width: 30%;
                            border: 0.5px solid #ffffff4d;
                            width: 80%;
                            margin-right: 1em;
                            position: relative;
                            &::after {
                                content: "";
                                @include posAbsolute("tr", -6px, 0);
                                width: 100%;
                                height: 1px;
                                display: block;
                                background-color: #ffffff4d;
                            }
                        }
                        .b_price {
                            width: 10%;
                            color: $primary-color;
                        }
                    }
                    .b_ingredient {
                        font-family: $secondary-font;
                        color: $gray-color;
                        width: 80%;
                    }
                }
            }
        }
    }
    .s_time {
        margin: 3em auto;
        position: relative;
        z-index: 99999;
        text-align: center;
        width: 50%;
        font-family: $secondary-font;
        h3 {
            margin: 1em 0;
            font-size: $fs-18;
            color: $white-color;
            span {
                color: $primary-color;
            }
        }
    }
}
@keyframes rotatedRectangle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}
